
            body {
                background-color: lightsteelblue;
            }
            p {
                color:#41627e;
                font-size: medium;
            }
            h1 {
                font-family: sans-serif;
            }
            .glitter {
                font-size: 100px;
            }